@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:wght@600;700;800;900&display=swap');

/*********************** GLOBAL  ****************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* body */
body{
    font-family: Lora, sans-serif;
    font-weight: 500;
    color: #1C345E;
}

/* Headings */
h1, h2 {
    font-family: Raleway, sans-serif;
    color: #1C345E;
}

h1 {
    font-weight: 700;  
}

/* Links */
a {
    text-decoration: none;
    color: #1C345E;
}

/* list items */
li {
    list-style: none;
}

/*************************** HEADER *************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

/* Horizontal rule */
.header-hr {
    border: none;
    border-top: 0.2rem solid #1C345E;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-image {
    margin-right: 0.5rem;   
}

.logo-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

.logo-content h2 {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0.15rem;
} 

/* navigation menu */
.nav-menu {
    margin-right: 1.5rem;
}

.nav-menu li {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 1.35rem;
}

.nav-menu a:hover {
    border-bottom: 0.2rem solid;
    border-color: rgba(28, 52, 94, .7);;
    color: rgba(28, 52, 94, .7);
}

.active-page
{
    border-bottom: 0.2rem solid #1C345E; 
}

/************************** HERO IMAGE ************************/
.hero-image-container {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 37.5rem;
    width: 100%;
    background:url(../images/hero-image.webp) no-repeat center center;
    background-color: beige; /*added incase image fails to load*/

    animation: hero-image-zoom 5s forwards;
 }

 /* creates zoom for hero image */
 @keyframes hero-image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
 }

 /********************* HOW IT WORKS SECTION *******************/

 /* overall section */
 .how-it-works {
    height: 43.75rem;
    margin-bottom: 2rem;
 } 

 .how-it-works h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
 }

 .how-it-works-content p {
    font-size: 1.35rem ;
    text-align: center;
    line-height: 2rem;
 }

 /* content excluding section heading */
 .how-it-works-content {
    display: flex;
    justify-content: space-evenly;
 }
 
 /* 3 divs of the content section */
 
 .how-it-works-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1rem 0 1rem 0;
 }

 /* font icon container and p padding for each div */
 .icon-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 5.75rem;
    height: 5.75rem;
    background-color: #E1C418;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
 }

 .hidden-alt-text {
    display: none;
 }

 .top-para {
    padding-bottom: 5rem;
 }


 