@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:wght@600;700;800;900&display=swap');

/*********************** GLOBAL  ****************************/
html {
    max-width: 162.5rem;
    width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body{
    font-family: Lora, sans-serif;
    font-weight: 500;
    color: #1C345E;
}

/* Headings */
h1, h2 {
    font-family: Raleway, sans-serif;
    color: #1C345E;
}

h1 {
    font-weight: 700;  
}

.section-h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.5rem;
}

/* Links */
a {
    text-decoration: none;
    color: #1C345E;
}

/* List items */
li {
    list-style: none;

}

/* Buttons */
button {
    width: 13rem ;
    height: 3rem;
    border-radius: 1.5rem/1.5rem;
    color: white;
    background-color: #B85C00;
    font: 700 1.5rem Raleway, sans-serif;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

button:hover {
    color: #B85C00;
    background-color: white;
    border: 0.2rem solid #B85C00;
}

/*************************** HEADER *************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

/* Horizontal rule */
.header-hr {
    border: none;
    border-top: 0.2rem solid #1C345E;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-image {
    margin-right: 0.5rem;   
}

.logo-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

.logo-content h2 {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0.15rem;
} 

/* navigation menu */
.nav-menu {
    margin-right: 1.5rem;
}

.nav-menu li {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 1.35rem;
}

.nav-menu a:hover {
    border-bottom: 0.2rem solid;
    border-color: rgba(28, 52, 94, .7);;
    color: rgba(28, 52, 94, .7);
}

.active-page
{
    border-bottom: 0.2rem solid #1C345E; 
}

/*********************** HOME (HERO IMAGE) *********************/
.hero-image-container {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    height: 37.5rem;
    width: 100%;
    background:url(../images/hero-image-2700x600.webp) no-repeat center center;
    background-color: beige; /*added incase image fails to load*/

    animation: hero-image-zoom 5s forwards;
 }

/* creates zoom for hero image */
@keyframes hero-image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

 /****************** HOME (HOW IT WORKS SECTION) ****************/

/* section content excluding heading */
.how-it-works-content {
    display: flex;
    flex-wrap: wrap;
}

.how-it-works-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 1rem 0 1rem 0;
}

.how-it-works-content p {
    font-size: 1.35rem ;
    text-align: center;
    line-height: 2rem;
    width: 60%;
}

.browse, .apply, .discuss {
    margin-bottom: 2rem;
}
.meet-dog, .adopt, .enjoy {
    margin-bottom: 4rem;
}

/* font icon container and p padding for each div */
.icon-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 5.75rem;
    height: 5.75rem;
    background-color: #E1C418;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hidden-alt-text {
    display: none;
}

/***************** HOME (BROWSE OUR DOGS SECTION) ***************/

/* section content excluding heading */
.browse-dogs-content{
    display: flex;
    flex-wrap: wrap;
}

.browse-dogs-content div {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 0 0 4rem 0;
}

.dog {
    display: flex;
    flex-direction: column;
}

.dog img {
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/************************* DOG PROFILE  ***********************/
 /* Profile image */


/**************************** FOOTER **************************/
.profile-h1 {
    font-size: 5rem;
    margin: 0;
    background-color: rgba(28, 52, 94, .1);
    text-decoration: none;
}
/* profile surrounding container */
.profile-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* Profile content  */
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    min-height: 45.7rem;
}

.profile-content table {
    width: 90%;
    font-size: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
    overflow-x: auto;
    table-layout: fixed;
}

.profile-content table tr {
    height: 3.5rem;
}

.profile-content table th, td {
    text-align: left;
}

.profile-content table th {
    font-weight: 800;
}

.profile-content table td {
    font-weight: 300;
}

.profile-content p {
    width:90%;
    font-size: 1.3rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: justify;
    line-height: 2rem;
}

.profile-content button {
    width: 90% ;
    height: 3rem;
    margin: 2rem 0 2rem 0;
}

/* Profile image */
.profile-image {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:50%;
    height: auto; 
}

.profile-image img {
    width:100%;
    height: auto;
    max-width: 40rem;
    border-radius: 5%;
}

 /**************************** FOOTER **************************/
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 9.735rem;
    background-color: #1C345E;
}

footer p {
    color: #E1C418;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* social media networks */
.social-networks {
    margin-bottom: 1rem;
}

.social-networks li {
    display: inline-block;
    padding: 0  1.5rem;
}

.social-networks i {
    color: #E1C418;
    font-size: 3rem;
}

.social-networks i:hover {
    color: rgba(225, 196, 24, 0.5);
}

/************************* MEDIA QUERIES ***********************/
/* 1600px */
@media screen and (max-width:100em) {

/* HOME PAGE */
    /* allow some more space to be used for p */
    .how-it-works-content p {
    width: 80%;
    }
    
    /* drop the number of dogs div's per row from 5 to 4 */
    .browse-dogs-content div {
        width: 25%;
     }
}

/* 1300px */

@media screen and (max-width:81.25em) {

/* HOME PAGE */
    /* drop the number of info div's per row from 3 to 2 */
    .how-it-works-content > div {
        width: 50%;
     }

    /* drop the number of dogs div's per row from 4 to 3 */
    .browse-dogs-content div {
        width: 33%;
     }

/* PROFILE PAGE */
     /* change to column layout */
     .profile-container {
        flex-direction: column;
     }

     /* allow full page width to be used */
     .profile-image {
        width: 100%;
        margin-top: 2rem;
     }

     .profile-content {
        width: 100%;
     }
}

/* 1100px */
@media screen and (max-width:68.75em) {

/* HOME PAGE */
    /* drop nav bar below logo and center */
    header {
        flex-direction: column;
        justify-content: center;
    }

    /* add some space between logo and nav bar */
    nav {
        margin-top: 1.5rem;
    }

    /* shift hero image right */
    .hero-image {
        background-position: calc(100% + 60rem) center;
     }
}

/* 992px */
@media screen and (max-width:62em) {

/* HOME PAGE */
    /* drop the number of dogs div's per row from 3 to 2 */
    .browse-dogs-content div {
        width: 50%;
     }
}

/* 850px */
@media screen and (max-width:53.125em) {

/* HOME PAGE */
    /* shift hero image right */
    .hero-image {
        background-position: calc(100% + 65rem) center;
     } 
}

/* 700px */
@media screen and (max-width:43.75em) {

/* HOME PAGE */
    /* reduce nav padding */
    .nav-menu li {
        padding: 0 0.5rem;
    }
    
    /* shift hero image right */
    .hero-image {
        background-position: calc(100% + 70rem) center;
     }

     /* drop the number of dogs div's per row from 2 to 1 */
     .browse-dogs-content div {
        width: 100%;
     }
}

/* 600px */
@media screen and (max-width:37.5em) {

/* HOME PAGE */
    /* remove margin from header */
    header {
        margin: 1rem 0 1rem 0;
    }
    /* remove margin from right nav menu */
    .nav-menu {
        margin-right: 0;
    }
    
    /* reduce nav li padding */
    .nav-menu li {
        padding: 0 0.25rem;
    }

    /* swap out hero image */
    .hero-image {
        background:url(../images/hero-image-small.webp) no-repeat center center;
    }

    /* drop the number of info div's per row from 2 to 1 */
    .how-it-works-content > div {
        width: 100%;
     }

     /* reduce padding on social media icons */
    .social-networks li {
        padding: 0  0.5rem;
    }

/* PROFILE PAGE */
    .profile-content p {
        text-align: left;
    }   

}

/* 500px */
@media screen and (max-width:31.25em) {

/* HOME PAGE */
    /* resize logo text */
    .logo-content h1 {
        font-size: 1.5rem;
    } 

    /* remove tag line */
    .logo-content h2 {
        display: none;
    } 
    
    /* reorganise nav bar */
    .nav-menu li {
        display: block;
        text-align: center;
    }
    
    /* increase nav li top and bottom padding */
    .nav-menu li {
        padding: 0.5rem 0.25rem;
    }

    /* reduce the dog image sizes */
    .dog img {
        width: 16.875rem;
        height: 16.875rem;
     }

     /* reduce padding on social media icons */
    .social-networks li {
        padding: 0  0.05rem;
    }

/* PROFILE PAGE */    
    .profile-content table {
        display: flex;
        justify-content: center;
        width: 98%;
        /* font-size: 1.1rem; */
    }

    .profile-content table th  {
        padding-right: 1.2rem;
    }

    .profile-content p {
        font-size: 1.2rem;
    }
}


    
